body {
  margin: 0;
  font-size: 20px;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #212529;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: #212529;
}

.container{
  margin-top: 60px;
}
.modal-footer{
  justify-content: center;
}

.alert {
  margin-top: 10px;
}
